body {
	margin:0;
	padding:0;
	font-family: arial, sans-serif;
}

#site-wrapper {
	height: 100vh;
}

#site-header {
	height:10vh;
	width:100vw;
}

#site-nav {
	top:0;
	right:0;
	position:fixed;
	margin:0;
	padding:0;
	height: inherit;
}

#site-nav ul {
	list-style: none;
	height:inherit;
	margin:0 30px 0 0;
	padding:0;
}

#site-nav li {
	display: inline-block;
	float:left;
	line-height:30px;
	padding:15px 8px;
	font-size: 13px;
	height:30px;

}

#site-nav a {
	text-decoration:none;
	color: black;
	opacity:.75;
}

#site-nav a:hover {
	text-decoration: underline;
}

#site-nav span {
	opacity:.55;
}

.bell {
	height:20px;
	width:20px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .55);
	background-image: url('images/bell.png');
	background-size: 50% 50%;
	background-position: center;
	background-repeat: no-repeat;
	margin:5px 4px;
}

.bell:hover {
	background-color:rgba(0, 0, 0, 1);
}

.grate {
	height:20px;
	width:20px;
	background-image: url('images/icon1.png');
	opacity:.55;
	background-position: center;
	background-repeat: no-repeat;
	margin:5px 4px;
	vertical-align: middle;
}

.grate:hover {
	opacity:1;
}

.letter {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-position: center;
	background-image: url('https://lh6.googleusercontent.com/-iYEDxVxKBt0/AAAAAAAAAAI/AAAAAAAAAAA/AMW9IgeqGi11wLXORn_qWUwd9V9aaquEOQ/s32-c-mo/photo.jpg');
}

#main-section {
	width:100vw;
	height:84vh;
	vertical-align: center;
}

.content-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.logo {
	height:20vh;
	width: auto;
	margin: auto auto auto auto;
	background-image: url('https://www.google.dk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
	background-repeat: no-repeat;
	background-position: center;
}

.searchbar {
	width:586px;
	height: 40px;
	margin:auto;
}

.searchbar input {
	width:inherit;
	height:inherit;
	line-height: 35px;
	box-sizing:border-box;
	border:1px solid #d9d9d9;
	-webkit-appearance:textfield;
}

.searchbar input:hover {
	border:1px solid #737373;
}

input[type="text"] {
	padding:0 8px;
	font-size:18px;
}

.logo1 {
	position:relative;
	float:right;
	top:-30px;
	right:15px;
}

.logo1 img {
	opacity:.55;
}

.logo1 img:hover {
	opacity:1;
}

.logo2 {
	position:relative;
	float:right;
	top:-35px;
	right:5px;
}

.logo2 img {
	height:30px;
	width: auto;
}

.button-wrapper {
	margin:auto;
	text-align: center;
	padding-top:40px;
}

.button-wrapper input {
	height: 36px;
	line-height: 27px;
	background-color:#F1f1f1;
	border:none;
	font-weight:bold;
	color:#757575;
}

.button-wrapper input:hover {
	border:1px solid #c6c6c6;
}

.location-wrapper {
	text-align:center;
	font-size:13px;
	padding:20px 0px;
}

#site-footer {
	height:5vh;
	width:100vw;
	background-color:#f1f1f1;
	border-top: 1px solid #c6c6c6;
}

.left-nav {
	float:left;
}

.left-nav ul {
	padding:0 0 0 15px;
	margin:0;
	line-height: 5vh;
}

.left-nav li {
	list-style: none;
	display: inline;

}

.left-nav a {
	text-decoration:none;
	color:#666;
	padding:0 15px;
	font-size: 13px;
}

.left-nav a:hover {
	text-decoration: underline;
}

.right-nav {
	float:right;
}

.right-nav ul {
	padding:0 15px 0 0;
	margin:0;
	line-height: 5vh;
}

.right-nav li {
	list-style: none;
	display: inline;

}

.right-nav a {
	text-decoration:none;
	color:#666;
	padding:0 15px;
	font-size: 13px;
}

.right-nav a:hover {
	text-decoration: underline;
}